certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
jwt==0.6.1
MarkupSafe==1.1.1
protobuf==3.11.3
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
requests==2.22.0
six==1.14.0
urllib3==1.25.8
waitress==1.4.3
Werkzeug==1.0.0
